# Pandas Tasks

In the task below, you will practice what you have learnt in the pandas tutorial.

## Task 1

#### Question 1. Identify two ways of creating a pandas DataFrame and create a dataframe with ten columns and twenty rows for each way

In [4]:
import pandas as pd
list_of_lists = [['Nick', 21], ['krish', 19], ['Jack', 18], ['Tom', 20]]
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]}

df_lol = pd.DataFrame(list_of_lists, columns=['Name', 'Age'])
df_d = pd.DataFrame(data)
print(df_lol)
print(df_d)

    Name  Age
0   Nick   21
1  krish   19
2   Jack   18
3    Tom   20
    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

#### Question 2. Show a summary of your dataframe with column names, non null count and dtypes for the columns

In [6]:
df_lol.info()
df_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

#### Question 3. Again show a summary of your dataframe, this time, showing the mean, count, standard deviation, minimum number etc for all the numerical columns

In [8]:
df_lol.describe()
df_d.describe()

             Age
count   4.000000
mean   19.500000
std     1.290994
min    18.000000
25%    18.750000
50%    19.500000
75%    20.250000
max    21.000000

#### Question 4. Show the number of unique values in all the columns in your dataframe

In [10]:
df_lol.nunique()
df_d.nunique()

Name    4
Age     4
dtype: int64